---
import type { CollectionEntry } from 'astro:content';

interface Props {
  url: string;
  data: CollectionEntry<'posts'>['data'];
}

const {
  url,
  data: { title },
} = Astro.props;
---

<li>
  <a href={url}>{title}</a>
</li>
